.campaign-form-container {
    padding: 0px 10px 10px 100px;
    width: 1000px;
    margin-left: 280px;
  }
  
  .form-group {
    margin-bottom: 20px;
    color: #666666;
  }

  .form-groupp{
    width: 100px;
    margin: 20px 0px;
    color: #666666;
    display: flex;
    align-items: center; /* This aligns items vertically in the center */
    gap: 10px; /* Adds some space between the text and the toggle */
    vertical-align: middle;
  }

  .form-groupp, .na{
    display: inline-block;
  }

  .form-groupp, .label-text {
    display: inline-block;
    margin-right: 10px; /* Adds space between text and toggle */
    vertical-align: middle;
    width: 720px;
  }

  .form-groupp, .switch {
    position: relative;
    width: 60px; /* Make sure this is the correct width */
    height: 34px; /* Adjust height as needed */
    display: inline-block;
}

  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    color: #999999;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  
  .form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-buttons button[type="button"] {
    background-color: white;
    color: #247B7B;
    border: 1px solid #247B7B;
    padding: 10px 70px;
  }
  
  .form-buttons button[type="submit"] {
    background-color: #247B7B;
    color: white;
    padding: 10px 70px;
  }
  