/* The switch container */
.switch {
    position:absolute;
    width: 54px; /* Make sure this is the correct width */
    height: 27px; /* Adjust height as needed */
    display: inline-block;
    justify-content: flex-end; /* This will push the toggle to the right */
    align-items: center;
    text-align: right;
    margin-left: 100px;
}

/* Hide the checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Toggle on when checked */
input:checked + .slider {
    background-color: #6E0080; /* Adjust the color */
}

/* Move the slider when checked */
input:checked + .slider:before {
    transform: translateX(26px);
}
